.container {
    display: flex;
    max-width: 960px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    padding: 10px;
    border-style: solid;
    margin: 0;
    flex: 1;
}